
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../imagenes/tulip-background-xnwquknlg6h04b3p.jpg);
    align-items: center;
    margin: 0%;
    padding: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

/* Área sensible del borde izquierdo */
.edge-trigger {
    position: fixed;
    top: 0;
    left: 0;
    width: 15px;
    height: 100vh;
    z-index: 100;
    background: transparent;
}

/* Estilos del menú lateral */
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: -250px;
    top: 0;
    background: linear-gradient(to bottom, #ed94cb, #f35ca0);
    color: white;
    transition: left 0.3s ease;
    z-index: 99;
    box-shadow: 2px 0 10px rgba(0,0,0,0.2);
    border-radius: 1rem 1rem 1rem 1rem;

}

.sidebar-header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    transition: all 0.3s;
}

.sidebar-menu li:hover {
    background: rgba(255,255,255,0.1);
    padding-left: 25px;
}

.sidebar-menu li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar-menu li i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
    padding: 25px;
}

.sidebar-menu li:last-child {
    margin-top: 240px; /* Empuja hacia abajo */
    margin-bottom: 20px;
}
.animated-gradient {
    background: linear-gradient(90deg, #f894e0, #9f006a, #f53333, #f5a95e);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 8.5rem;
    animation: gradient 4s ease infinite;
    text-align: center;
    margin-top: 0px;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.contenedor {
    display: flex;
    width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    border-radius: 8px;
}

.cuadro-texto {
    width: 50%;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.cuadro-imagen {
    width: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.cuadro-imagen:hover .imagen {
    transform: scale(1.1);
}

h2 {
    color: #333;
    margin-top: 0;
}

p {
    color: #666;
}